[Desktop Entry]
Version=1.0
Name=Start ROScore
Comment=roscore
GenericName=roscore
Exec=bash -c 'source /opt/ros/noetic/setup.bash && roscore'
Terminal=true
X-MultipleArgs=false
Type=Application
Icon=/opt/ros/noetic/share/rqt_gui/resource/rqt.png
Categories=Robotics;
Path=
StartupNotify=false
