[Desktop Entry]
Version=1.0
Name=CoppeliaSim (V-REP)
Comment=Robotics Simulator
GenericName=CoppeliaSim (V-REP)
Exec=/home/coppelia/coppeliaSim.sh
Terminal=true
X-MultipleArgs=false
Type=Application
Icon=/home/coppelia/helpFiles/logo.png
Categories=Robotics;
